// footer
.footer{ background-color: #cf3428; height: 200px;
    &:after{content: ''; position: absolute; bottom: 0; background-color: #a42a24; left: 0; right: 0; height: 5px; }
    .convert-big-foot{ display: block; 
        .logo{float: left; height: 200px; display: flex; align-items: center;}
        .left-descript{padding-left: 40px; float: left; height: 200px; display: flex; align-items: center;  
            p, a{display: block; font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);text-transform: uppercase; line-height: 1.346; text-decoration: none;}
            a{position: relative; padding-top: 10px;
                &:after{content: ''; position: absolute; bottom: 0; left: 0; right: 100%; height: 1px; background-color: white; transition: all 0.5s;}
                &:hover{
                    &:after{right: 0;}
                }
            }
        } 
        .right-descript{float: right; max-width: 325px; height: 200px; display: flex; align-items: center; 
            .conteiner-block{ padding-right: 25px; border-right: 1px solid #aa2c23; }
            .space-for-text, span, a{font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); line-height: 1.346; text-decoration: none;}
            .space-for-text{text-transform: uppercase;}
            .convert-email{text-align: right;padding-top: 10px;}
            a{position: relative; 
                &:after{content: ''; position: absolute; bottom: 0; left: 0; right: 100%; height: 1px; background-color: white; transition: all 0.5s;}
                &:hover{
                    &:after{right: 0;}
                }
            }
        }    
    }
    .convert-small-foot{display: none; padding-top: 47px;
        .conteiner-toper{display: flex; justify-content: space-around; 
            a{display: flex; align-items: center; justify-content: space-around; text-decoration: none; width: 128px; height: 128px; border: 3px solid white; border-radius: 50%; position: relative;
                &:before{content: ''; position: absolute; top: -2px; left: -2px; right: -2px; bottom: -2px; border-radius: 50%; border: 1px solid white; transition: all 0.3s;}
                &:hover{
                    &:before{ top: -9px; left: -9px; right: -9px; bottom: -9px; }
                }
            }
        }
        .logo{text-align: center; display: inline-block; width: 100%; padding-top: 35px;
            a{display: block; text-decoration: none;}
            p{padding-bottom:30px; padding-top: 40px; font-size: 22px; font-family: "Roboto", sans-serif; font-weight: 400; color: rgb(141, 33, 24); text-transform: uppercase; }
        }
    }
}
// /footer

// form
.contact-form{ position: relative; background-color: #282a2b; padding-bottom: 5px;  padding-top: 55px;
    &:after{content: ''; position: absolute; bottom: 0; background-color: #212121; left: 0; right: 0; height: 5px; }
    .conteiner-form{
        .title-row{font-size: 50px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);  text-transform: uppercase; font-weight: 500;padding-bottom: 22px;}
        .subtitle-row{ max-width: 590px; font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); line-height: 1.346;  padding-bottom: 13px;}
        .form-block{ max-width: 710px;
            .form-rover{width: 100%;  padding-top: 17px;
            
                ::-webkit-input-placeholder {color:white;}
                :-moz-placeholder {color:white;}
                ::-moz-placeholder {color:white;}
                :-ms-input-placeholder {color:white;}
                .error{
                    input{color: #cf3428; font-weight: 700; }
                    ::-webkit-input-placeholder {color:#cf3428; font-weight: 700;}
                    :-moz-placeholder {color:#cf3428; font-weight: 700;}
                    ::-moz-placeholder {color:#cf3428; font-weight: 700;}
                    :-ms-input-placeholder {color:#cf3428; font-weight: 700;}
                }
                
                .contact-form-item{ float: left; width: 33%;
                    input{width: 192px; line-height: 26px; border: none; outline: none;color: white; background-color: transparent; font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);  line-height: 24px; font-weight: 300; }
                    p{font-size: 16px;  font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);  line-height: 24px;  font-weight: 300;}
                    label{display: none !important;}
                    b{display: none;font-size: 30px; line-height: 40px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); font-weight: 300; }
                    
                    .white-input{border-bottom:1px solid white;}
                    .red-input{border-bottom:1px solid #cf3428;}

                }
                textarea{height: 32px; border: none; outline: none; color: white; background-color: transparent; font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);  line-height: 24px; resize: none; font-weight: 300; width: 100%; border-bottom:1px solid white;max-width:660px;  }
            }
            .rower-textarea{padding-top: 7px;}
           .contact-row-submit{ padding: 38px 0;
               button{width: 258px; line-height: 49px; text-align: center; border: 1px solid white; border-radius: 5px; background-color: transparent; color: white; font-size: 16px;   font-family: "Roboto", sans-serif;  cursor: pointer; transition: all 0.5s;
                    &:hover{background-color: white; color: rgb(40, 42, 43);}
               } 
           }           
        }
    }
}
.contacts-form-white{background-color: #ffffff;
    &:after{display: none;}
    .conteiner-form {
        .title-row {color: #656565;}
        .subtitle-row {color: #656565;}
        .form-block {
            .form-rover .contact-form-item {
                p, input {color: #656565;}
                .white-input{border-bottom: 1px solid #656565;}
                ::-webkit-input-placeholder {color: #656565;}
                :-moz-placeholder {color: #656565;}
                ::-moz-placeholder {color: #656565;}
                :-ms-input-placeholder {color: #656565;}
                b{color: #656565;}
                .error{
                    input{color: #cf3428; font-weight: 700; }
                    ::-webkit-input-placeholder {color:#cf3428; font-weight: 700;}
                    :-moz-placeholder {color:#cf3428; font-weight: 700;}
                    ::-moz-placeholder {color:#cf3428; font-weight: 700;}
                    :-ms-input-placeholder {color:#cf3428; font-weight: 700;}
                    b.selectdate{color:#cf3428; font-weight: 700;}
                }
            }
            .contact-row-submit button {border: 1px solid #656565; color: #656565; 
                &:hover{color: white; background-color: #cf3428; border: 1px solid #cf3428;}
            }
        }
    }
    
}

// share akcii
.items-share{ background-color: white;
    .items-wrap{ padding-top: 15px;padding-bottom: 70px;
        .row-item{ width: 100%; padding-bottom: 36px; border-bottom: 1px solid #efefef;
            .convert-item{width: 45%; margin-right: 5%;  padding-top: 48px; float: left;}
            .item{ position: relative;  max-width: 500px; 
                .title-item{font-size: 30px; font-family: "Roboto", sans-serif; color: rgb(40, 42, 43);  text-transform: uppercase; font-weight: 500; padding-bottom: 25px;}
                
                .image-conteiner{margin-bottom: 22px; height: 125px; width: 100%; position: relative;
                    img{ width: 100%; height: 100%;}
                }
                
                .after-text{font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(40, 42, 43);  line-height: 1.346; font-weight: 400; padding-bottom: 45px;}
                a.go-button { position: absolute;  bottom: 0; right: 12px; font-size: 14px; font-family: "Roboto", sans-serif;  color: rgb(180, 180, 180);  text-transform: uppercase; line-height: 1.539; font-weight: 400; text-decoration: none; padding-right: 20px;
                    &:after{content: ''; position: absolute; width: 10px; height: 10px; border-top: 1px solid rgb(180, 180, 180); border-right: 1px solid rgb(180, 180, 180); transform: rotate(45deg); right: 0; bottom:6px; transition: all 0.5s;}
                    &:hover{
                        &:after{animation: arrowMove2 0.5s ease-out infinite;}
                    }
                }                  
            }
        }
    }
}

@keyframes arrowMove2 {
    0%  {right: 0;}
    50% {right: 8px;}
    100%   {right: 0;}
}

// tool stuff

.tools{ position: relative; padding-bottom: 5px;
    &:after{content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 5px; }  
      .page-section{margin-right: -40px; width: calc(78% + 40px);
            .conteiner{display: table; width: 100%; min-height: 280px;
                .splash-left{display: table-cell; width: 42%; vertical-align: middle;
                    h3{font-size: 50px; font-family: "Roboto", sans-serif; color: rgb(254, 254, 254);  text-transform: uppercase; font-weight: 500; max-width: 480px; padding-bottom: 18px;}
                    p{max-width: 480px;font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(254, 254, 254); line-height: 1.346; }
                }
                .splash-right{display: table-cell;width: 58%; vertical-align: middle; }
            }
      }
}

    .tool-second{background-color: #cf3428;
        &:after{background-color: #aa2c23;}
    }
    .tool-third{background-color: #282a2b;
        &:after{background-color: #000000;}
    }
    .tool-fourth{background-color: #d1d1d1;
        &:after{background-color: #9f9f9f;}
        .page-section .conteiner .splash-left{
            h3 { color: #656565; }
            p { color: #656565; }
        } 
    }
// end tools

// team second block
.team-second{ padding-bottom: 60px;
    .page-section{
        .conteiner-worker{ display: flex; flex-wrap:wrap; justify-content: space-between; align-items: baseline;
            .single-worker{ width: 31%; padding-top: 50px;
                .faceman{width: 100%;
                    img{width: 100%; height: auto;}
                }
                .naming{ padding-top: 19px;
                    p{ font-size: 18px; font-family: "Roboto", sans-serif; color: rgb(40, 42, 43); line-height: 21px;}
                    i{font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(40, 42, 43);  font-style: italic; font-weight: 300;  line-height: 18px;;}
                }
            }
        }
    }
}

// gallery second
.gallery-second{padding-bottom: 60px;
    .page-section{
        .convert-galery{display: flex; flex-wrap:wrap; justify-content: space-between; align-items: baseline;
            .gal-item{width: 31%; padding-top: 50px;
                a{display: block; text-decoration: none;}
            }
        }
    }    
}

