<section class="gallery-second">
    <div class="mbox">
        <div class="page-section">
            <div class="convert-galery">
                <div class="gal-item">
                    <a class="grouped_elements" rel="group" href="images/gal1.jpg">
                        <img src="images/gal1.jpg" alt="">
                    </a>
                </div>
                <div class="gal-item">
                    <a class="grouped_elements" rel="group" href="images/gal2.jpg">
                        <img src="images/gal2.jpg" alt="">
                    </a>
                </div>
                <div class="gal-item">
                    <a class="grouped_elements" rel="group" href="images/gal3.jpg">
                        <img src="images/gal3.jpg" alt="">
                    </a>
                </div>
                <div class="gal-item">
                    <a class="grouped_elements" rel="group" href="images/gal4.jpg">
                        <img src="images/gal4.jpg" alt="">
                    </a>
                </div>
                <div class="gal-item">
                    <a class="grouped_elements" rel="group" href="images/gal5.jpg">
                        <img src="images/gal5.jpg" alt="">
                    </a>
                </div>
                <div class="gal-item">
                    <a class="grouped_elements" rel="group" href="images/gal6.jpg">
                        <img src="images/gal6.jpg" alt="">
                    </a>
                </div>
                <div class="gal-item">
                    <a class="grouped_elements" rel="group" href="images/gal7.jpg">
                        <img src="images/gal7.jpg" alt="">
                    </a>
                </div>
                <div class="gal-item">
                    <a class="grouped_elements" rel="group" href="images/gal8.jpg">
                        <img src="images/gal8.jpg" alt="">
                    </a>
                </div>
                <div class="gal-item">
                    <a class="grouped_elements" rel="group" href="images/gal9.jpg">
                        <img src="images/gal9.jpg" alt="">
                    </a>
                </div>                
            </div>
        </div>
    </div>
</section>