<!-- HEADER -->
<header class="header">
    <div class="header-logo">
        <a href="#">
            <img src="images/header-logo.png" alt="" />
        </a>
    </div>
    <div class="header-nav">
        <ul>
            <li>
                <a href="#">АКЦИИ</a>
            </li>
            <li>
                <a href="#">УСЛУГИ и СЕРВИС</a>
            </li>
            <li>
                <a href="#">ПРЕИМУЩЕСТВА</a>
            </li>
            <li>
                <a href="#">КОНТАКТЫ</a>
            </li>
            <li>
                <a href="#">Галлерея</a>
            </li>
            <li>
                <a href="#">наша команда</a>
            </li>
            <li>
                <a href="#">НАШЕ ОБОРУДОВАНИЕ</a>
            </li>
            <li>
                <a href="#" class="fancy-link">ЗАПИСЬ ОНЛАЙН</a>
            </li>
        </ul>
    </div>
</header>
<!-- /HEADER -->

