<!-- HEADER -->
<header class="header">

    <div class="header-logo">
        <a href="#">
            <img src="images/header-logo.svg" alt="" />
        </a>
    </div>
    <div class="sendwich">
        <div class="sendwich-wrap">
            <span></span>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-main">
            <div class="header-nav-wrap">
                <ul>
                    <li>
                        <a href="#">АКЦИИ</a>
                    </li>
                    <li>
                        <a href="/#services" class="menu-item-70">УСЛУГИ и СЕРВИС</a>
                    </li>
                    <li>
                        <a href="#">ПРЕИМУЩЕСТВА</a>
                    </li>
                    <li>
                        <a href="#">КОНТАКТЫ</a>
                    </li>
                    <li>
                        <a href="#">Галлерея</a>
                    </li>
                    <li>
                        <a href="#">наша команда</a>
                    </li>
                    <li>
                        <a href="#">НАШЕ ОБОРУДОВАНИЕ</a>
                    </li>
                    <li>
                        <a href="/#form" class="fancy-link menu-item-72">ЗАПИСЬ ОНЛАЙН</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</header>
<!-- /HEADER -->

