<section class="index-contact">
    <div class="index-contact-top">
        <div class="mbox">
            <div class="page-section">
                <div class="convert">
                    <div class="title-text">
                        <h2>Наши Двери открыты для вас</h2>
                    </div>
                    <div class="subtitle">
                        Основным преимуществом Сфинкс-Авто является полный комплекс услуг по обслуживанию автомобиля. Опыт работы с 2003 года. Отсутствие
                        текучки кадров. Удобное географическое расположение. 10 постов обслуживания автомобилей. Наличие отдела
                        запчастей со складом. Штат из 25 специалистов, многие из которых работают с момента открытия автосервиса.
                    </div>
                    <div class="after-contact">
                        <div class="contacts-tsble cfix">
                            <div class="side">
                                <p>Марсельская, 32а</p>
                                <div class="row-ref"><a href="callto:+30487112535">тел. (48) 711-25-35</a></div>
                                <div class="row-ref">
                                    <a href="callto:+30487112535">тел. (48) 711-25-53</a>
                                </div>
                            </div>
                            <div class="side">
                                <p>Базарная, 14a</p>
                                <div class="row-ref">
                                    <a href="callto:+30487280196">тел. (48) 728-01-96</a>
                                </div>
                                <div class="row-ref">
                                    <a href="callto:+30487144784">тел. (48) 714-47-84</a>
                                </div>
                                <div class="row-ref">
                                    <a href="callto:+30487144783">тел. (48) 714-47-83</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-contact-map">
        <div id="formap"></div>
    </div>
</section>
