<section class="index-sixth-block">
    <div class="mbox">
        <div class="page-section main-one-height">
            <div class="item-col col-1">
                <div class="item-col-title">
                    <h2><span>комплексная диагностика</span><br>при покупке авто</h2>
                </div>
                <div class="item-col-text">
                    <p>
                        -  Проверка толщины лакокрасочного покрытия <br>
                        -  Диагностика ходовой части на стенде Bosch <br>
                        -  Диагностика электрооборудования <br>
                        -  Проверка геометрии шасси автомобиля <br>
                    </p>
                </div>
                <div class="item-col-button">
                    <a href="#" class="btn-grey btn"><span>ОФОРМИТЬ ЗАЯВКУ</span></a>
                </div>
                <div class="item-col-image">
                    <img src="images/col-image-9.png" alt="">
                </div>
            </div>
            <div class="item-col col-2">
                <div class="item-col-title">
                    <h2>автомойка</h2>
                </div>
                <div class="item-col-text">
                    <p>При автосервисе работает мойка и хим. Чистка автомобиля. Также имеется услуга по антибактериальной обработке системы кондиционирования</p>
                </div>
                <div class="item-col-button">
                    <a href="#" class="btn-grey btn"><span>ОФОРМИТЬ ЗАЯВКУ</span></a>
                </div>
                <div class="item-col-image">
                    <img src="images/col-image-10.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>