<section class="index-fifth-block">
    <div class="mbox">
        <div class="page-section main-one-height">
            <div class="item-col col-1">
                <div class="item-col-wrapper">
                    <div class="item-col-title">
                        <h2>шиномонтаж</h2>
                    </div>
                    <div class="item-col-text">
                        <p>Осуществляем работы по замене шин,балансировке и ремонту проколов,также услуги консервации шин и их хранение. Прокатка стальных дисков. Работу производим на оборудовании Bosch.</p>
                    </div>
                    <div class="item-col-button">
                        <a href="#" class="btn-red btn"><span>ОФОРМИТЬ ЗАЯВКУ</span></a>
                    </div>
                </div>
                <div class="item-col-image">
                    <img src="images/col-image-7.png" alt="">
                </div>
            </div>
            <div class="item-col col-2">
                <div class="item-col-wrapper">
                    <div class="item-col-title">
                        <h2><span>авто</span><br>электрик</h2>
                    </div>
                    <div class="item-col-text">
                        <p>Диагностика и ремонт электрооборудования,установка доп. Оборудования,регулировка света фар,замена ламп,заправка кондиционера,чистка форсунок,замена свечей зажигания,ремонт электропроводки…</p>
                    </div>
                    <div class="item-col-button">
                        <a href="#" class="btn-red btn"><span>ОФОРМИТЬ ЗАЯВКУ</span></a>
                    </div>
                </div>
                <div class="item-col-image">
                    <img src="images/col-image-8.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>