<section class="index-third-block">
    <div class="mbox">
        <div class="page-section main-one-height">
            <div class="item-col col-1">
                <div class="item-col-wrapper">
                    <div class="item-col-title">
                        <h2>Развал схождениЕ</h2>
                    </div>
                    <div class="item-col-text">
                        <p>Развал-схождения «Hunter DSP600». Современное 3D оборудование позволяет произвести диагностику и регулировку углов установки колес Вашего автомобиля с максимальной точностью.</p>
                    </div>
                    <div class="item-col-button">
                        <a href="#" class="btn-grey btn"><span>ОФОРМИТЬ ЗАЯВКУ</span></a>
                    </div>
                </div>
                <div class="item-col-image">
                    <img src="images/col-image-3.png" alt="">
                </div>
            </div>
            <div class="item-col col-2">
                <div class="item-col-wrapper">
                    <div class="item-col-title">
                        <h2>Замена масла Mobil1</h2>
                    </div>
                    <div class="item-col-text">
                        <p>Замена масла Mobil1. Производим качественную и быструю смену масла, технических жидкостей и фильтров в нашем официальном Mobil1 центре.</p>
                    </div>
                    <div class="item-col-button">
                        <a href="#" class="btn-grey btn"><span>ОФОРМИТЬ ЗАЯВКУ</span></a>
                    </div>
                </div>
                <div class="item-col-image">
                    <img src="images/col-image-4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>