<section class="index-fourth-block">
    <div class="mbox">
        <div class="page-section main-one-height">
            <div class="item-col col-1">
                <div class="item-col-wrapper">
                    <div class="item-col-title">
                        <h2><span>отдел</span><br>запчастей</h2>
                    </div>
                    <div class="item-col-text">
                        <p>Менеджер отдела запчастей поможет подобрать любую деталь для Вашего автомобиля как оригинальную, так и аналогичную в наличии и под заказ. На каждый купленный в отделе товар предоставляется гарантия.</p>
                    </div>
                    <div class="item-col-button">
                        <a href="#" class="btn-red btn"><span>ОФОРМИТЬ ЗАЯВКУ</span></a>
                    </div>
                </div>
                <div class="item-col-image">
                    <img src="images/col-image-5.png" alt="">
                </div>
            </div>
            <div class="item-col col-2">
                <div class="item-col-wrapper">
                    <div class="item-col-title">
                        <h2><span>РИХТОВОЧНО</span><br>Малярный цех</h2>
                    </div>
                    <div class="item-col-text">
                        <p>Восстановлению лакокрасочного покрытия и геометрии кузова автомобиля. Ремонт и замена стекол,ремонт пластика, ремонт замков,полировка фар,шумоизоляция автомобиля,ремонт и замена любых кузовных элементов,ремонт выхлопной системы. </p>
                    </div>
                    <div class="item-col-button">
                        <a href="#" class="btn-red btn"><span>ОФОРМИТЬ ЗАЯВКУ</span></a>
                    </div>
                </div>
                <div class="item-col-image">
                    <img src="images/col-image-6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>