<section class="index-contact">
    <div class="index-contact-top">
        <div class="mbox">
            <div class="page-section">

            </div>
        </div>
    </div>
    <div class="index-contact-map">
        <div class="mbox">
            <div class="page-section">

            </div>
        </div>
    </div>
    <div class="index-contact-bottom">
        <div class="mbox">
            <div class="page-section">

            </div>
        </div>
    </div>
    //= contact-form.html
</section>