<section class="items-share">
    <div class="mbox">
        <div class="page-section">
            <div class="items-wrap">
                <div class="content">
                    <div class="row-item cfix">
                        <div class="convert-item cfix">
                            <div class="item">
                                <div class="title-item">
                                    <h3>АКЦИЯ номер ДВА</h3>
                                </div>
                                <div class="image-conteiner">
                                    <img src="images/man-with-iron-clutch.jpg" alt="">
                                </div>
                                <div class="after-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </div>
                                <a href="#" class="go-button"> подробнее </a>
                            </div>
                        </div>
                        <div class="convert-item cfix">
                            <div class="item">
                                <div class="title-item">
                                    <h3>АКЦИЯ номер ДВА</h3>
                                </div>
                                <div class="image-conteiner">
                                    <img src="images/man-with-iron-clutch.jpg" alt="">
                                </div>
                                <div class="after-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </div>
                                <a href="#" class="go-button"> подробнее </a>
                            </div>
                        </div>
                    </div>
                    <div class="row-item cfix">
                        <div class="convert-item cfix">
                            <div class="item">
                                <div class="title-item">
                                    <h3>АКЦИЯ номер ДВА</h3>
                                </div>
                                <div class="image-conteiner">
                                    <img src="images/man-with-iron-clutch.jpg" alt="">
                                </div>
                                <div class="after-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </div>
                                <a href="#" class="go-button"> подробнее </a>
                            </div>
                        </div>
                        <div class="convert-item cfix">
                            <div class="item">
                                <div class="title-item">
                                    <h3>АКЦИЯ номер ДВА</h3>
                                </div>
                                <div class="image-conteiner">
                                    <img src="images/man-with-iron-clutch.jpg" alt="">
                                </div>
                                <div class="after-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </div>
                                <a href="#" class="go-button"> подробнее </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>