<section class="team-second">
    <div class="mbox">
        <div class="page-section">
            <div class="conteiner-worker">
                <div class="single-worker">
                    <div class="faceman">
                        <img src="images/single-worker-1.jpg" alt="">
                    </div>
                    <div class="naming">
                        <p>Анатолий</p>
                        <i>должность сотруднуика</i>
                    </div>
                </div>
                <div class="single-worker">
                    <div class="faceman">
                        <img src="images/single-worker-2.jpg" alt="">
                    </div>
                    <div class="naming">
                        <p>Анатолий</p>
                        <i>должность сотруднуика</i>
                    </div>
                </div>
                <div class="single-worker">
                    <div class="faceman">
                        <img src="images/single-worker-1.jpg" alt="">
                    </div>
                    <div class="naming">
                        <p>Анатолий</p>
                        <i>должность сотруднуика</i>
                    </div>
                </div>
                <div class="single-worker">
                    <div class="faceman">
                        <img src="images/single-worker-2.jpg" alt="">
                    </div>
                    <div class="naming">
                        <p>Анатолий</p>
                        <i>должность сотруднуика</i>
                    </div>
                </div>
                <div class="single-worker">
                    <div class="faceman">
                        <img src="images/single-worker-1.jpg" alt="">
                    </div>
                    <div class="naming">
                        <p>Анатолий</p>
                        <i>должность сотруднуика</i>
                    </div>
                </div>
                <div class="single-worker">
                    <div class="faceman">
                        <img src="images/single-worker-2.jpg" alt="">
                    </div>
                    <div class="naming">
                        <p>Анатолий</p>
                        <i>должность сотруднуика</i>
                    </div>
                </div>
                <div class="single-worker">
                    <div class="faceman">
                        <img src="images/single-worker-1.jpg" alt="">
                    </div>
                    <div class="naming">
                        <p>Анатолий</p>
                        <i>должность сотруднуика</i>
                    </div>
                </div>
                <div class="single-worker">
                    <div class="faceman">
                        <img src="images/single-worker-2.jpg" alt="">
                    </div>
                    <div class="naming">
                        <p>Анатолий</p>
                        <i>должность сотруднуика</i>
                    </div>
                </div>
                <div class="single-worker">
                    <div class="faceman">
                        <img src="images/single-worker-1.jpg" alt="">
                    </div>
                    <div class="naming">
                        <p>Анатолий</p>
                        <i>должность сотруднуика</i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>