@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1360px){
    .footer .convert-big-foot .right-descript .conteiner-block {padding-right: 0px; border-right: 0px solid #aa2c23;}
    .items-share .items-wrap .row-item .convert-item:nth-child(2) { width: 45%;margin-right: 0%; margin-left: 5%;
        .item{float: right;}
    }
    .tools .page-section { width: calc(100% + 40px);
        .conteiner{
            .splash-left{width: 52%; }
            .splash-right{width: 48%;}
        }
    }
    .contacts-first .page-section {
        .index-first-top {
            .index-page { left: 240px;height: 160px;
                .conteiner{padding-bottom: 36px;}
            }
            .index-logo { margin-left: -27px;}
        }
    }
    .contacts-first-main{margin-top: -42px; padding-left: 15px;}

}
@media screen and (max-width: 1280px){
    .tools .page-section {
        .conteiner{
            .splash-left{width: 57%;    padding-left: 35px; }
            .splash-right{width: 43%;}
        }
    }
}
@media screen and (max-width: 1024px){
    .contact-form .conteiner-form .title-row {font-size: 40px;}
}
@media screen and (max-width: 992px){
    .tools .page-section {
        .conteiner{
            .splash-left{width: 50%;    padding-left: 14px; }
            .splash-right{width: 50%;}
        }
    }
    .team-second .page-section .conteiner-worker { padding:0 30px;
        .single-worker { width: 42%;}
    }
    .gallery-second{
        .page-section{
            .convert-galery{
                .gal-item{width: 46%; padding-top: 50px;}
            }
        }
    }
    .contacts-first .page-section {
        .index-first-top {
            .index-page { left: 265px;height: 160px;
                .conteiner{padding-bottom: 36px;}
            }
            .index-logo { margin-left: 0px;}
        }
        .text-block-wrap .text-block-main {
            .text-block h1 {font-size: 45px;}
        }
    }
    .contacts-first-main{margin-top: 0px; padding-top: 50px; padding-left: 40px;}
}

@media screen and (max-width: 789px){
    .contact-form .conteiner-form .form-block { max-width: none; width: 100%;}
    .contact-form .conteiner-form .form-block .form-rover {
        .contact-form-item{ width: calc(100%/3);
            &:nth-child(2){text-align: center;}
            &:nth-child(3){text-align: right;}
            input{width: 90%;}

        }
        textarea{width: 100%; max-width: none;}
    }
    .contacts-first .page-section .text-block-wrap .text-block-main .contacts-tsble .side {    min-width: 250px;}
}

@media screen and (max-width: 767px){
    .footer .convert-big-foot .left-descript p, .footer .convert-big-foot .left-descript a, .footer .convert-big-foot .right-descript .space-for-text, .footer .convert-big-foot .right-descript span, .footer .convert-big-foot .right-descript a { font-size: 13px;}
    .contact-form .conteiner-form .form-block .form-rover .contact-form-item p, .contact-form .conteiner-form .form-block .form-rover .contact-form-item input {font-size: 13px;}
}


@media screen and (max-width: 666px){

}

@media screen and (max-width: 640px){
    .footer{ height: 440px;
        .convert-big-foot{display: none;}
        .convert-small-foot{display: block;

        }
    }

    .items-share .items-wrap .row-item { padding-bottom: 0; border: none;
        .convert-item{width: 100% !important; margin: 0 !important;
            .item { float: none; max-width: none; width: 100%; margin-bottom: 38px;
                .title-item{font-size: 50px; color: #282a2b;}
                .after-text{font-size: 30px; color: #282a2b;padding-bottom: 66px; line-height: 37px;}
                .image-conteiner { margin-bottom: 25px; height: 175px;}
                a.go-button { right: 28px; font-size: 30px;
                    &:after { width: 20px; height: 20px; bottom: 14px; right: -10px;}
                }
            }
        }
    }

    .contact-form .conteiner-form{
        .title-row {font-size: 45px;margin-right: -20px; line-height: 52px;}
        .subtitle-row {font-size: 30px; line-height: 36px; margin-right: -10px; padding-bottom: 0px;}
        .form-block {
            .form-rover {padding-top: 0px;
                &:nth-child(3){
                    .contact-form-item{
                        &:nth-child(1){
                            .form_input{padding-top: 0;}
                        }
                        &:nth-child(2){
                            ::-webkit-input-placeholder {color: transparent;}
                            :-moz-placeholder {color: transparent;}
                            ::-moz-placeholder {color: transparent;}
                            :-ms-input-placeholder {color: transparent;}
                        }
                    }
                }
                &:nth-child(2){
                    .contact-form-item{
                        &:nth-child(2), &:nth-child(3) { padding-left: 70px;}
                    }
                }
                .contact-form-item{width: 100%; position: relative;
                    .form_input{padding-top: 43px;}
                    input{width: 100%; font-size: 30px; line-height: 37px; }
                    p{display: none;}
                    b.selectdate{display: block; position: absolute; top: 42px; z-index: -1;}
                }
                textarea{font-size: 30px; line-height: 40px; height: 46px; }
            }
            .rower-textarea{padding-top: 43px; }
            .contact-row-submit button { width: 100%; height: 104px; font-size: 31px; }
        }
    }
    .tools { background-color: White !important; padding-bottom: 0;
        &:after{display: none;}
        .page-section { margin: 0 -40px; width: calc(100% + 80px);
            .conteiner{ display: block; padding-top: 150px;
                .splash-left{width: 100%; padding: 0 35px; display: block; padding-bottom: 55px;
                    h3{font-size: 50px; color: rgb(40, 42, 43);  text-transform: uppercase;     max-width: none;}
                    p{font-size: 30px; color: rgb(40, 42, 43); line-height: 1.2; max-width: none;}
                }
                .splash-right{width: 100%; display: block;}
            }
        }
    }
    .tool-second.tools .page-section .conteiner{padding-top: 75px; }

    .team-second .page-section .conteiner-worker { padding:0;
        .single-worker { width: 100%;
            .naming{ padding-top: 19px;
                p{ font-size: 30px; line-height: 1.233;}
                i{font-size: 25px; line-height: 1.48;}
            }
        }
    }
    .gallery-second{
        .page-section{
            .convert-galery{
                .gal-item{width: 100%; padding-top: 44px;
                    img{width: 100%;}
                }
            }
        }
    }

    .contacts-first {height: 1130px;
        .contacts-first-main { padding-top: 145px; padding-left: 0; margin-top: 0px;}

        .page-section .index-first-top {
            .index-logo { display: block; margin-top: -13px;display: none;}
            .index-page {left: -40px; top: 200px; width: 300px; height: 135px;
                .conteiner{font-size: 75px; padding-bottom: 27px;}
            }
        }

        .page-section .text-block-wrap .text-block-main{
            .text-block {
                h1 {line-height: 60px; font-size: 50px;}
                p { display: none;}
            }
            .contacts-tsble { padding-top: 55px; position: relative;
                &:before{content: ''; position: absolute; left: 0; right: 0; top: 55%; height: 1px; background-color: rgba(255, 255, 255, 0.2); }
                .side {min-width: none; width: 100%;
                    &:first-child{margin-bottom: 108px;}
                    p {font-size: 30px; padding-bottom: 15px;}
                    a {font-size: 25px;}
                }
            }
        }
    }
    .index-contact-top .page-section { height: auto;
        .convert { padding-top: 50px;
            .title-text { font-size: 40px;}
            .subtitle{font-size: 30px;}
        }
        .contacts-tsble .side { min-width: 100%; width: 100%; margin-bottom: 40px;
            p{font-size: 30px; line-height: 36px;}
            a{font-size: 25px; line-height: 30px;}
        }
    }
}

@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}